extends layout

block content

	div.container
		div.row
			div.form-group
				form(method='post' action='/uploads')
					input.form-control(type='text' name='name' placeholder='Full Name')
					br
					input.form-control(type='file' name='pic' id='image')
					br
					input.btn(type='submit' value='Upload')