extends layout

block content
	h1 Member Profiles

	div.container
		div.row
			div.list-group
				ol.row
					li.list-group-item.mx-auto
						img.col-4(src='#{member.photo.data}')
						h4.col-6= member.firstname + ' ' + member.lastname

