doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.container
			div.row
				nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.col-12
					a.navbar-brand.col-3(href='/')
						img(src='#' alt='Team Brand' width=100 height=100)
					button.navbar-toggler(type='button' data-toggle='collapse' data-target='#menuDiv' aria-controls="menuDiv" aria-expanded="false" aria-label="Toggle navigation")
						span.navbar-toggler-icon
					div.collapse.navbar-collapse.col-9.h-100(id='menuDiv')
						ul.navbar-nav.ml-auto.mt-auto
							li.nav-item.mx-1
								a.nav-link.mx-2(href='/') Home
							li.nav-item.mx-1
								a.nav-link.mx-2(href='/members') Members
							li.nav-item.mx-1
								a.nav-link.mx-2(href='/members/registration') Register
			br
			br

		block content
		br
		br

		footer.container
			div.row.mb-3
				h4.text-center.col-12.bg-secondary.m-auto 
					em Contact Us
			div.row
				div.col-12.col-md-3.mx-auto
					h6 
						em Adress: 
					.line Plot 1071 Park Lane Avenue,
					.line Gudu New Layout,
					.line Apo,
					.line Abuja.
				div.col-12.col-md-3.mx-auto
					h6
						em Phone: 
					a(href='tel:+2349012345678') 09012345678
				div.col-12.col-md-3.mx-auto
					h6
					em E-mail and Social Media
					a(href='mailto:group@groupmail.com') group@groupmail.com
					.line whatsapp: 09012345678
					.line twitter: @group
			br
			div.row
				p.text-center.col-12 &copy; 2018 GroupName
		br
		br

		p.text-center.bg-light Designd & Developed by 
			strong Neftil Solutions&reg; -  
			a(href='mailto: neftsngl@gmail.com') neftilsngl@gmail.com

		script(src='/jquery/jquery.min.js')
		script(src='/bootstrap/dist/js/bootstrap.min.js')
