extends layout

block content
	div.container
		div.form-group
			form.form-control(method='post' action='/members/registration' enctype='multipart/form-data')
				fieldset
					legend.text-center Memeber Registration
					br
					input.form-control#image(type='file' name='photo' placeholder='Upload a photo' onchange='pritn()')
					br
					br

					input.form-control(type='text' name='fname' placeholder='First Name')
					br
					br

					input.form-control(type='text' name='lname' placeholder='Last Name')
					br
					br

					input.form-control(type='text' name='role' placeholder='Group Role')
					br
					br

					textarea.form-control(rows=10 name='bio' placeholder='Write a short Bio about yurself and your role i the group')
					br
					br

					button.btn.btn-primary.form-control(type='submit') Save