body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

footer {
	background-color: #34495E;
	color: #ffffff;
	padding-bottom: 10px;
	/*font-family: cursive;*/
}

legend {
	padding: 3px;
	background-color: #000000;
	color: #ffffff;
	/*font-family: cursive;*/
}

#carousel > div> div> img {
	height: 450px;
}